<h3>Let's play some hangman</h3>
<p>start a new game or load an old one?</p>
<form action='/start'>
	<button name="new_or_load?" type="submit" value="new"> NEW GAME</button>
	<button name="new_or_load?" type="submit" value="load"> LOAD GAME</button>
</form>
